<!DOCTYPE html>
<html>
<head>
    <title>Ups, something went wrong.</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Error</h1>
<p><%= error_msg %></p>
<p>Ups, something went wrong, please bring me back to <a href="<%= url %>">login</a></p>
</body>