<!DOCTYPE html>
<html>
<head>
    <title>Logged in</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=<%= redirect_url %>" />
</head>
<body>
<h1>Logged in</h1>
<p><a href="<%= redirect_url %>">Redirect</a></p>
</body>